Skip to content 

 
Dashboard
Pull requests Issues Codespaces 
Marketplace
Explore 
Sponsors
Settings
srikantharakspy 
Sign out 
 
 
	
New repository 
Import repository 
New codespace 
New gist 
New organization 
	
Sorry, something went wrong. 

{{ message }}
/  ...  /  
pannawittt  /   CloudClassify  /   
Clear Command Palette 
Tip: Type # to search pull requests 
Type ? for help and tips 
Tip: Type # to search issues 
Type ? for help and tips 
Tip: Type # to search discussions 
Type ? for help and tips 
Tip: Type ! to search projects 
Type ? for help and tips 
Tip: Type @ to search teams 
Type ? for help and tips 
Tip: Type @ to search people and organizations 
Type ? for help and tips 
Tip: Type > to activate command mode 
Type ? for help and tips 
Tip: Go to your accessibility settings to change your keyboard shortcuts 
Type ? for help and tips 
Tip: Type author:@me to search your content 
Type ? for help and tips 
Tip: Type is:pr to filter to pull requests 
Type ? for help and tips 
Tip: Type is:issue to filter to issues 
Type ? for help and tips 
Tip: Type is:project to filter to projects 
Type ? for help and tips 
Tip: Type is:open to filter to open content 
Type ? for help and tips 
We’ve encountered an error and some results aren't available at this time. Type a new search or try again later. 
No results matched your search 
Search for issues and pull requests # Search for issues, pull requests, discussions, and projects # Search for organizations, repositories, and users @ Search for projects ! Search for files / Activate command mode > Search your issues, pull requests, and discussions # author:@me Search your issues, pull requests, and discussions # author:@me Filter to pull requests # is:pr Filter to issues # is:issue Filter to discussions # is:discussion Filter to projects # is:project Filter to open issues, pull requests, and discussions # is:open 
 pannawittt / CloudClassify Public
Unwatch Stop ignoring Watch 1 	 
Notifications
Participating and @mentions 
Only receive notifications from this repository when participating or @mentioned. 
All Activity 
Notified of all notifications on this repository. 
Ignore 
Never be notified. 
Custom
Select events you want to be notified of in addition to participating and @mentions. 
Get push notifications on iOS or Android. 
Custom 
Custom 
Issues 
Pull requests 
Releases 
Discussions 
Discussions are not enabled for this repository 
Security alerts 
Apply Cancel 
Fork 0 Fork your own copy of pannawittt/CloudClassify 
Unstar this repository?
This will remove {{ repoNameWithOwner }} from the {{ listsWithCount }} that it's been added to. 
Unstar 
Starred 0 
Star 0 
 CodeCode 
 IssuesIssues 0 
 Pull requestsPull requests 0 
 ActionsActions 
 ProjectsProjects 0 
 SecuritySecurity 
 InsightsInsights 
More
Code 
Issues 
Pull requests 
Actions 
Projects 
Security 
Insights 
Open in github.dev Open in a new github.dev tab 
Permalink 
 main 	 
Switch branches/tags 
Branches Tags
Could not load branches
Nothing to show
{{ refName }} default 
View all branches
Could not load tags
Nothing to show
{{ refName }} default 
View all tags
Name already in use
A tag already exists with the provided branch name. Many Git commands accept both tag and branch names, so creating this branch may cause unexpected behavior. Are you sure you want to create this branch? 
Cancel Create 
CloudClassify / requirements.txt
Go to file 
 
Go to file T
Go to line L 
Copy path 
Copy permalink 
This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository.

pannawittt Update requirements.txt 
Latest commit eb623dd Dec 18, 2022  History 
 1 contributor 
Users who have contributed to this file 
1 lines (1 sloc) 	 14 Bytes 
Raw Blame 
 
Edit this file
E
Open in github.dev
.
Open in GitHub Desktop 
 
 
 
Open with Desktop 
View raw 
Copy raw contents Copy raw contents Copy raw contents Copy raw contents 
View blame 
Edit file
Open with github.dev
Delete file
This file contains bidirectional Unicode text that may be interpreted or compiled differently than what appears below. To review, open the file in an editor that reveals hidden Unicode characters. Learn more about bidirectional Unicode characters 
Show hidden characters 
1fastai>=2.7.9Copy lines 
Copy permalink 
View git blame
Reference in new issue
Go 
Give feedback 
Provide feedback
Footer
 © 2023 GitHub, Inc. 
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You can’t perform that action at this time. 
You signed in with another tab or window. Reload to refresh your session. You signed out in another tab or window. Reload to refresh your session.
